[Unit]
Description=%i service with docker compose
PartOf=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt/docker-compose/{{ exporter }}
ExecStart=/usr/bin/{{ docker_compose_bin }} up -d
ExecStop=/usr/bin/{{ docker_compose_bin }} down

[Install]
WantedBy=multi-user.target
