[Unit]
Description=Prometheus Nginx Exporter
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/prometheus-nginx-exporter \
-nginx.scrape-uri {{ prometheus_nginx_scrape_uri | default("http://localhost/stub_status") }} \
-web.listen-address=0.0.0.0:9113

[Install]
WantedBy=multi-user.target
