[Unit]
Description=Prometheus MongoDB Exporter
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/prometheus-mongodb-exporter --compatible-mode --collect-all
EnvironmentFile=/etc/default/prometheus-mongodb-exporter

[Install]
WantedBy=multi-user.target
