[Unit]
Description=Prometheus PostgreSQL Exporter
After=network.target

[Service]
Type=simple
User={{ prometheus_postgres_exporter_user }} 
ExecStart=/usr/local/bin/prometheus-postgres-exporter
EnvironmentFile=/etc/default/prometheus-postgres-exporter

[Install]
WantedBy=multi-user.target
