[Unit]
Description=Prometheus Blacbox Exporter
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/prometheus-blackbox-exporter --config.file /etc/default/prometheus-blackbox-exporter

[Install]
WantedBy=multi-user.target
