[Unit]
Description=Prometheus PHP Opcache Exporter
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/prometheus-opcache-exporter $ARGS
EnvironmentFile=/etc/default/prometheus-opcache-exporter

[Install]
WantedBy=multi-user.target
