[server]
domain = {{ grafana_domain }}
root_url = %(protocol)s://%(domain)s

[dashboards]
{% if prometheus_cloudflare_exporter_targets is defined %}
default_home_dashboard_path = /etc/grafana/provisioning/dashboards/overview.json
{% else %}
default_home_dashboard_path = /etc/grafana/provisioning/dashboards/overview.json
{% endif %}
